input {
  border: none;
  outline: none;
  background: none;
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
  font-family: inherit;
  font-size: inherit;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #fff !important;
}
input::placeholder {
  color: rgba(153, 153, 153, 1);
  font-size: 14px;
}
.van-popup {
  background: #000000 !important;
}
